@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

.paused {
    animation-play-state: paused;
}

.running {
    animation-play-state: running;
}

.products-heading {
    @apply my-10 mx-0 text-center text-sky-800;
}

.products-heading h2 {
    @apply text-4xl font-extrabold;
}

.products-heading p {
    @apply font-extralight text-base;
}

.products-container {
    @apply flex flex-wrap justify-center mt-5 w-full gap-4;
}

.hero-banner-container {
    @apply py-24 px-5 sm:px-10 bg-gray-500 rounded-2xl relative h-banner leading-none w-full;
}

.hero-banner-container button {
    @apply rounded-2xl py-2.5 px-4 bg-red-600 text-white border-none mt-10 text-lg font-medium cursor-pointer z-10000;
}

.desc {
    @apply absolute w-72 leading-snug flex flex-col text-sky-700;
}

.footer-banner-container {
    @apply py-24 px-5 sm:px-10 bg-red-500 rounded-2xl relative h-96 leading-none text-white w-full mt-32 md:h-[560px] md:mt-20;
}

.flex-x {
    @apply flex flex-row justify-center items-center;
}

.flex-y {
    @apply flex flex-col items-center justify-center;
}

.navbar {
    @apply flex flex-row justify-between items-center
    w-full h-16 m-0 px-4 py-2;
}

.cart-icon {
    @apply bg-gray-100 text-gray-700 p-2 rounded-full transition-all duration-300 w-12 h-12;
}

.cart-icon:hover {
    @apply bg-blue-100 text-blue-800;
}

.badge-red {
    @apply bg-red-600 rounded-full text-white;
}

.badge-red:hover {
    @apply shadow;
}

.carousel-chevron {
    @apply text-gray-600 font-extrabold opacity-80 w-10 relative h-[420px];
}

.active-img {
    @apply bg-red-900 rounded-[50%] rounded-tl-none rotate-45;
}

.active-img img {
    @apply absolute top-0 left-0.5 scale-110 rotate-[-405deg];
}

.btn {
    @apply select-none font-bold py-2 px-6 text-center drop-shadow cursor-pointer rounded-3xl transition-all duration-200 uppercase;
}

.btn:hover {
    @apply  scale-110 ring-2
}

.btn-red-outline {
    @apply text-red-600 border-red-600  bg-white border-2;
}

.btn-red-outline:hover, .btn-red:hover  {
    @apply ring-red-300;
}

.btn-red {
    @apply bg-red-600 text-white;
}

.btn-white {
    @apply bg-white text-blue-900 hover:bg-blue-800;
}

.btn-white:hover {
    @apply text-white;
}

.btn-icon {
    @apply flex items-center justify-center rounded-3xl hover:rounded-xl transition-all
        duration-200 ease-linear cursor-pointer focus:outline-none;
}

.btn-close {
    @apply bg-transparent shadow-none;
}

.btn-close:hover {
    @apply font-semibold scale-110;
}

.popup {
    @apply absolute w-auto p-2 m-2 min-w-max rounded-md text-white bg-gray-900 text-xs
        font-semibold transition-all duration-100 transform scale-0 origin-left z-50;
}

.alert {
    @apply flex items-start sm:items-center justify-between p-1 sm:p-4 rounded-3xl transition-all duration-200 pointer-events-auto;
}

.alert-success {
    @apply border border-green-400 bg-green-300 text-green-900;
}

.alert-danger {
    @apply border border-red-400 bg-red-300 text-red-900;
}

.alert-warning {
    @apply border border-yellow-400 bg-yellow-300 text-yellow-900;
}

.item-desc-flex {
    @apply flex w-[250px] justify-between md:w-[330px] text-sky-800;
}

.qty-desc {
    @apply text-base py-1.5 px-3 cursor-pointer
}

.hero-img-size {
    @apply lg:h-auto lg:w-[600px] md:h-96 md:w-96 sm:w-64 sm:h-64 w-56 h-56;
}

.login-btn {
    @apply flex-x text-white h-10 rounded w-64 mb-3;
}

.login-google {
    @apply bg-red-800 hover:bg-red-900;
}

.login-github {
    @apply bg-gray-900 hover:bg-black;
}

.login-icon {
    @apply w-10 h-full py-2 border-r;
}

.google-icon {
    @apply border-red-900 group-hover:border-yellow-900;
}

.github-icon {
    @apply border-black group-hover:border-gray-900;
}

.input-r-rounded {
    @apply h-full lg:pl-2 border-2 border-blue-500 font-semibold rounded-r-full
    text-blue-500 outline-none disabled:border-transparent disabled:bg-blue-700 disabled:text-white
    disabled:cursor-not-allowed focus:outline-none focus:ring-blue-300 focus:ring-1;
}

.input-r-rounded:focus-within ~ label,
.input-r-rounded:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-3;
}


textarea.input-r-rounded {
    @apply rounded-br-none rounded-tr-xl rounded-bl-xl;
}

textarea.input-r-rounded.rounded-l-full {
    @apply rounded-xl;
}

input.error, .input-r-rounded.error, .error {
    @apply text-red-500 border-red-500 focus:outline-none focus:ring-red-300 focus:ring-2;
}

.input-r-rounded:focus-within ~ label {
    @apply text-blue-500;
}

.input-r-rounded:not(:focus-within) ~ label {
    @apply transform duration-300 scale-100;
}

.input-container .input-r-rounded:focus-within ~ label,
.input-container .input-r-rounded:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-2 z-0 ml-4 px-1 py-0;
}

.review {
    @apply rounded-3xl py-1 px-3 border cursor-default break-words
         text-white bg-blue-600 hover:bg-blue-700;
}

.avatar {
    @apply rounded-full border-2 border-blue-500 bg-blue-100 shadow shadow-blue-500;
}

.article {
    @apply bg-gray-200 rounded-3xl py-3 shadow xl:px-4 flex-y mt-2;
}

.article.terms {
    @apply px-1 py-4 sm:py-8 sm:px-8 mx-auto mb-8 mt-8;
}

.article.terms p {
    @apply flex w-full justify-start my-2 text-sm sm:text-base;
}

.article.terms ul {
    @apply text-sm sm:text-base text-left w-full;
}

.article.p-0 {
    @apply px-0 py-0;
}

.btn-link {
    @apply text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300;
}
