@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.products-heading {
    @apply my-10 mx-0 text-center text-sky-800;
}

.products-heading h2 {
    @apply text-4xl font-extrabold;
}

.products-heading p {
    @apply font-extralight text-base;
}

.products-container {
    @apply flex flex-wrap justify-center mt-5 w-full gap-4;
}

.hero-banner-container {
    @apply py-24 px-10 bg-gray-500 rounded-2xl relative h-banner leading-none w-full;
}

.hero-banner-container button {
    @apply rounded-2xl py-2.5 px-4 bg-red-600 text-white border-none mt-10 text-lg font-medium cursor-pointer z-10000;
}

.desc {
    @apply absolute w-72 leading-snug flex flex-col text-sky-700;
}

.footer-banner-container {
    @apply py-24 px-10 bg-red-500 rounded-2xl relative h-96 leading-none text-white w-full mt-32 md:h-[560px] md:mt-20;
}

.flex-x {
    @apply flex flex-row justify-center items-center;
}

.flex-y {
    @apply flex flex-col items-center justify-center;
}

.navbar {
    @apply flex flex-row justify-between items-center
    w-full h-16 m-0 px-4 py-2;
}

.cart-icon {
    @apply bg-gray-100 text-gray-700 p-2 rounded-full transition-all duration-300 w-12 h-12;
}

.cart-icon:hover {
    @apply bg-blue-100 text-blue-800;
}

.badge-red {
    @apply bg-red-600 rounded-full text-white;
}

.badge-red:hover {
    @apply shadow;
}